<template>
  <div>
    <h2 v-html="questionTxt" id="q-list">
    </h2>
  </div>
</template>

<script>
export default {
  name: "QuestionsText",
  props:["questionTxt"]
}
</script>

<style scoped>

#q-list {
  font-family: 'Josefin Sans', sans-serif;
  list-style-type:none;
  color: white;
}

</style>