<template>
  <div class="test">
    <li class="q-list">
      {{optionTxt}}

    </li>
  </div>
</template>

<script>
export default {
  name: 'QuestionOption',
  props:['optionTxt']
}
</script>

<style scoped>

.q-list {
  list-style-type:none;
  color:red;
  padding:10rem;
}

</style>