<template>
  <div class="main-container">
   
      <div class="q-text">
        <!-- print question text-->
        <QuestionsText  v-bind:questionTxt="questionList[questionCount].question"></QuestionsText>
      </div>
    <div class="q-options">
      <!-- loops through all options to the question -->
      <div class="qs" v-for="(optionTxt,index) in options[questionCount]" :key="index" >
          <!-- prompts option as a button, on click it renders the next question because it increases the questionCount
          through method optChoose,
           -->
            <div class="option" v-on:click="optChose(optionTxt.correct,optionTxt.opt)">
            <QuestionOption v-bind:optionTxt="optionTxt.opt" v-html="optionTxt.opt"></QuestionOption>
            </div>
      </div>
    </div>
  </div>
    
</template>

<script>
import  {fetchQuestions} from "@/components/Questions/questionAPI";
import QuestionsText from "@/components/Questions/QuestionsText";
import QuestionOption from "@/components/Questions/QuestionOption";
import {results} from "@/components/ResultScreen"






let amm ="";
let difficulty="";
let type ="";
let cat = "";

//retrieves data from starting screen form
export const retrieveData = (form) => {
    amm = form.ammount;
    difficulty = form.difficulty;
    type = form.type;
    cat = form.category;
    

}


    export default {
  name:'question',
  components: {QuestionOption, QuestionsText},
  created() {
    //retrieves data from starting screen
    retrieveData(this.retrieveQuestion(amm,difficulty,type,cat))

  },
  data(){
    return{
      questionList: [[]],
      options: [],
      questionCount:0,
      amountCorrectAnswers:0,
      answerOverView:[]
    }
  },
  methods: {
    //builds URL to use for fetch request
    buildURL(amount, difficulty, type, cat) {
      const base = 'https://opentdb.com/api.php?'
      const binder = '&'
      const amountStr = `amount=${amount}`
      let resultString = base + amountStr;
      const categoryStr = `category=${cat}`
      const difficultyStr = `difficulty=${difficulty}`
      const multipleStr = `type=${type}`

      if (cat !== undefined || cat !== "") {
        resultString += (binder + categoryStr)
      }

      if (difficulty !== "") {
        resultString += (binder + difficultyStr)
      }

      if (type !== ""){
        resultString += (binder + multipleStr)
      }
      
       return resultString
    },
    retrieveQuestion(ammount, difficulty, type, cat) {

      fetchQuestions(this.buildURL(ammount, difficulty, type, cat)).then(questionList => {
        this.questionList = questionList.results
        let optionArr = []
        for (let question of this.questionList) {

          //populates answerOverview which is info passed to resultsScreen
          this.answerOverView.push({quest:question.question,corr:question.correct_answer, userAns:'', userAnsCorr:false})

          // Adding array of options for each question
          optionArr.push({opt: question.correct_answer, correct: true})
          for (let incorrect of question.incorrect_answers) {
            optionArr.push({opt: incorrect, correct: false})
          }

          //randomizing the order of the options
          this.shuffle(optionArr)

          //push the option array for each question to the nested option array
          this.options.push(optionArr)
          optionArr = []
        }
      }).catch(error => {
        console.log(error)
      })
      // return result;
    },
    optChose(isRight, optChose) {

      //adds the option the user chose and if its right or not to answeroverview
    this.answerOverView[this.questionCount].userAns=optChose;
    this.answerOverView[this.questionCount].userAnsCorr=isRight;
    if (isRight) {
      this.amountCorrectAnswers++
    }
    this.questionCount++

      //when final question is answered it routes to the result screen and sends answeroverview
    if (this.questionCount===this.questionList.length){
      results(this.answerOverView)
      this.$router.push({path:"/result"})
    }
},
    //function to shuffle an array or randomize order, thank you StackOverflow :D
    shuffle(array) {
        let currentIndex = array.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

          // Pick a remaining element...
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;

          // And swap it with the current element.
          temporaryValue = array[currentIndex];
          array[currentIndex] = array[randomIndex];
          array[randomIndex] = temporaryValue;
        }

        return array;
      },
    answersToResult(){
      return this.answerOverView
    }


  }

}
</script>

<style scoped>

.header{
  background-color: #222831;
}

.main-container {
    display:grid;
    grid-template-rows: 20% 65%;
    width: 100vw;
    height: 90vh;
    max-width:100%; 
    max-height: 100%;
    background-color: #222831;
}



.q-options{
  width:60%;
  margin:auto;
  margin-top:8rem;
  display:grid;
  grid-template-columns:1fr 1fr ;
}

.qs {
  padding:1rem;
}

.option{
  padding:1rem;
  border-style: solid;
  border-color:#F6C90E;
  border-radius:10px;
  border-width: 2px;
  font-size: 1.5rem;
  color:white;
  box-shadow: 0px 3px 0px #f0d56c;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
}

.option:hover{
  
  background-color: #2f3a49;
  
}

</style>