<template>
  <div class="main-container">

    <div class="header">
         <!-- <h1 class="title"> TriVial </h1> -->
         <img style="cursor:pointer" @click="redirectToHome()" id="logo" src="../../public/svg/logo.svg">
    </div>

    <div class="mid-screen">
        <Question/>
    </div>
        
    <div class="bottom-screen">
            
    </div>
  </div>

</template>

<script>
import Question from "@/components/Questions/Questions";
export default {
  components: {Question},
  methods:{
    redirectToHome() {
      this.$router.push({path: "/"})
    }
  }
}

</script>



<style scoped>

.main-container {
    display:grid;
    grid-template-rows: 10% 65% 25%;
    width: 100vw;
    height: 90vh;
    max-width:100%; 
    max-height: 100%;
    overflow-x: hidden;
    background-color: #222831;
}

.mid-screen{
  margin-top:7rem;
}

</style>