<template>
 <div class="main-container">

    <div class="header">
         <img style="cursor:pointer" @click="redirectToHome()" id="logo" src="../../public/svg/logo.svg">
    </div>

    <div class="mid-screen">
            
         <div class=list-header>
           <div class="list-element"> <h4>Question</h4> </div> <div class="list-element" > <h4>Your Answer</h4></div> <div class="list-element"> <h4>Correct Answer</h4> </div>
         </div>
        
        <!-- Iterates over answers. Answers is set in data and retrieved from question component -->
         <div class="list" v-for="answer in answers" :key="answer">
          
          <div class="list-element" v-html="answer.quest"></div> <div class="list-element"> <p v-bind:class="{redTxt: !answer.userAnsCorr, greenTxt:answer.userAnsCorr }" v-html="answer.userAns "> </p> </div> <div class="list-element" v-html="answer.corr">  </div>
         </div>
        <div class=list-footer>
           <div class="list-element"> <h5>Result</h5> </div> <div class="list-element" > <h4></h4></div> <div class="list-element"> <h5> {{counter}}/{{totalPossibleScore}} </h5> </div>
        </div>  
    </div>
  </div>
</template>

<script>


let resutlFinal =[];
export const results = (resultList) => {
  for(let ans of resultList) {
    resutlFinal.push(ans)
  }
}

export default {
  
  created() {
    for(let ans of resutlFinal) {
      this.answers.push(ans);
    }

    this.checkAnswer(this.answers)
  },
  data() {
        return {
            answers: [],
            counter: 0,
            totalPossibleScore:0
            
        }
    },
    
methods:{
    redirectToHome() {
      this.$router.push({path: "/"}) 
    },
    // checks if answer by user is true. if it is it count points 10 for each correct.
    checkAnswer(answers) {
      for(let answer of answers) {
        this.totalPossibleScore +=10;
      if(answer.userAnsCorr) {
        this.counter +=10;
      }
      }
    }
  }
}


</script>

<style scoped>

.main-container {
    display:grid;
    grid-template-rows: 10% 90%;
    width: 100vw;
    height: 90vh;
    max-width:100%; 
    max-height: 100%;
    overflow-x: hidden;
    background-color: #222831;
}

.header {
   background-color: #222831;
}

.mid-screen{
  background-color: #222831;
  color:white;
  margin-top:5rem;
  margin-left:20px;
  margin-right:20px;
}

#table{
  color:white;
}

th{
  color:white;
}

td{
  color:white;
}

.list-header {
  
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  display:grid;
  grid-template-columns: 70% 15% 15%;
  margin-bottom:4rem;
}

.list-footer {
  
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  display:grid;
  grid-template-columns: 70% 15% 15%;
  margin-top:4rem;
}

.list{
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  display:grid;
  grid-template-columns: 70% 15% 15%;
}

.list-element{
  
  grid-row:1;
  gap: 12px;
  text-align: start;
  margin-bottom: 2rem;
  border-bottom: solid 1px white;

}

.greenTxt{
  color: green;
}
.redTxt{
  color:red;
}

</style>