<template>

    <div class="main-container">
        <div class="header">
         <img id="logo" src="../../public/svg/logo.svg">
        </div>

        <div class="mid-screen">
            <form>
                <label></label>

                <!-- 2way binding on the form. Data entered will be bound to data() -->
                <input id="head" class ="ammount" type="ammount" required v-model="ammount" placeholder="Enter number of questions"> 
               
                <select class="ammount" required v-model="category">
                  <option value="">Any Category</option>
                  <option
                  :key="category.id"
                  v-for="category in categories"
                  :value="category.id"
                  >
                  {{ category.name }}
                 </option>
                </select>

                <select class="ammount" required v-model="difficulty"> 
                     <option value="" disabled selected>Select Difficulty</option>
                    <option> Easy </option>
                    <option> Medium </option>
                    <option> Hard </option>
                </select>

                <select class="ammount" required v-model="type"> 
                    <option id="first" value="" disabled selected>Select Type</option>
                    <option> Any Type </option>
                    <option> Multiple Choice </option>
                    <option> True/false </option>
                </select>
            </form>
            
        </div>
        
        <div class="bottom-screen">
            <!-- Redirects user to PlayScreen -->
            <div @click="redirectToPlay()" class ="start-game">
                Start Game
            </div>
        </div>
    </div>
</template>

<script>


import {retrieveData} from "@/components/Questions/Questions"

export default {

  created() {
    fetch("https://opentdb.com/api_category.php")
      .then((r) => r.json())
      .then((response) => response.trivia_categories)
      .then((categories) => {
        this.categories = categories;
      })
      .catch((e) => {
        console.log(e.message);
      });

    },data() {
        return {
            ammount: "",
            categories: [],
            difficulty:"",
            type:"",
            category:""
            
        }
    },
    methods: {
        redirectToPlay() {
            
            // sets the input from user to correct syntax to later build the API URL
            if(this.type === "Multiple Choice"){
              this.type = "multiple"; 
            }else if(this.type === "True/false"){
              this.type = "boolean";
            }else {
              this.type="";
            }
            
            if(this.category==="Any Category") {
              this.category = "";
            }

            let form = {
                "ammount" : this.ammount,
                "category": this.category,
                "difficulty": this.difficulty.toLowerCase(),
                "type": this.type

            }
 
            //calls the function retrieveData from Questions component. called with data from user.      
            retrieveData(form)
            if(this.ammount ===""){
                alert("you need to choose number of questions")
            }else{
                this.$router.push({path: "/play"})
            }
        }
    }
}
</script>


<style scoped>

.title {
    font-family: 'Josefin Sans', sans-serif;
    color:#F6C90E;
    font-size: 3rem;
    font-weight: thin;
}

#logo {
    width:15%; 
}

.main-container {
    display:grid;
    grid-template-rows: 10% 65% 25%;
    width: 100vw;
    height: 90vh;
    max-width:100%; 
    max-height: 100%;
    background-color: #222831;
}


.start-game{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    color:#222831;
    width:10%;
    height:2.3rem;
    border-style:solid;
    border-width:1px;
    border-color: #F6C90E;
    border-radius: 10px;
    background-color: #F6C90E;
    margin:auto;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.start-game:hover{
    background-color: #fcdb5a;
}

.ammount {
    background-color: #222831;
    border:none;
    margin:auto;
    margin-top:3rem;
    height:2rem;
    width:10%;
    border-bottom: 1px solid white;
    display:flex;
    justify-content: center;
    color:white;
}

.ammount:hover{
    border-color: #F6C90E;
    color:#F6C90E;
}


.ammount2 {
    background-color: #222831;
    border:none;
    width:100%;
}


#head {
    margin-top:7rem;
}

</style>