<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>


export default {
  name: 'App',

}
</script>

<style>
#app {
  
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: red; */
  margin-top: 60px;
  
  height: 100vh;
  height:100%;
}

html{background-color: #222831;}

</style>
